{{ define "content"}}
<div class="body404">
    <div class="info404">
        <header id="header404" class="clearfix">
            <div class="site-name404"><i>404</i></div>
        </header>
        <section>
            <div class="title404">
                <p>每一个平凡的日常<br />都是连续发生中的奇迹<br /></p>
                <p>不要放弃，你要的还在，再找找。</p>
            </div>
            <div class="index404">
                <a rel="nofollow" href="https://www.shiyuanjie.cn/archives/">本站所有文章</a><a rel="nofollow" href="{{ .Site.BaseURL }}" class="index404">回首页看看</a>
            </div>
            <p></p>
            {{ partial "related" . }}
        </section>
    </div>
</div>
{{ end }}