{{ define "content"}}
<div class="body404">
    <div class="info404">
        <header id="header404" class="clearfix">
            <div class="site-name404"><i>404</i></>
        </header>
        <section>
            <div class="title404">
                <p>每一个平凡的日常<br />都是连续发生中的奇迹<br /></p>
            </div>
            <div>
                给我留言↓↓↓，在此查找==><a rel="nofollow"  class="index404" href="https://www.shiyuanjie.cn/archives/">本站所有文章</a> 
            </div>
            <p></p>
            {{ partial "comments" . }}
        </section>
    </div>
</div>
{{ end }}